In [3]:
#import libraries
import cv2
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('filenames_fudan.csv')

In [5]:
df.head()

              filename
0  Mohit Roshan S..jpg
1  Xin(Cynthia) Li.jpg
2       Tianwei Ma.jpg
3        Minxu Lin.jpg
4     HongZhang HE.jpg

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1595 entries, 0 to 1594
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  1595 non-null   object
dtypes: object(1)
memory usage: 12.6+ KB

In [7]:
# Load the cascade
face_cascade = cv2.CascadeClassifier('haarcascade_frontalface_default.xml')

pictlst = []

#filter pictures with faces
for name in df['filename']:
    try:
        # Read the input image
        img = cv2.imread(f'/Users/CarolYing7113/Documents/Depaul_DS/Self_Learning/web app/images_fudan/{name}')
        # Convert into grayscale
        gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
        # Detect faces
        face = face_cascade.detectMultiScale(gray, 1.1, 4)
    
        if len(face) != 0:
            pictlst.append(name)
    
    except: pass

In [8]:
#dataframe_filenames_picture with a face 
df_fileWithPict = pd.DataFrame({'col': pictlst})

In [9]:
df_fileWithPict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1282 entries, 0 to 1281
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col     1282 non-null   object
dtypes: object(1)
memory usage: 10.1+ KB